// colours

// mixins

title = 30px Fira Sans
text = 14px Fira Sans

animation(arg)
	-webkit-animation arg
	-moz-animation arg
	o-animation arg
	animation arg

flex()
	display -webkit-flex
	display -ms-flex
	display flex
align(n)
	-webkit-align-items n
	align-items n
direction(n)
	-webkit-flex-direction n
	-ms-flex-direction n
	flex-direction n
just-content(n)
	-webkit-justify-content n
	justify-content n
wrap()
	-webkit-flex-wrap wrap
	flex-wrap wrap
	
border-box(arg)
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	padding arg
	
transition(arg)
	-webkit-transition arg
	-moz-transition arg
	-o-transition arg
	transition arg
	
// keyframes

@keyframes colour
	0%
		border 3px dotted lighten(skyblue, 10%)
	65%
		border 3px dotted lighten(skyblue, 10%)
	68%
		border 3px dotted red
	75%
		border 3px dotted lighten(skyblue, 10%)

@keyframes camera
	0%
		transform none
	30%
		transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.78);
	65%
		transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.78);
	90%
		transform none
		
@keyframes open
		0%
			transform rotateZ(0deg)
			transform-origin left
		10%
			transform rotateZ(0deg)
			transform-origin left
		30%
			transform rotateZ(-60deg)
			transform-origin left
		60%
			transform rotateZ(0deg)
			transform-origin left
		100%
			transform rotateZ(0deg)
			transform-origin left

// general
	
main
	section
		border-box(50px)
		flex()
		align center
		.page-container
			margin 0 auto
			max-width 1200px
			h2
				color white
				font text
				font-size 2rem
			article
				p
					font text
					font-size: 16px
					line-height 1.5

// specific

h1, h2, h3
	text-align center

header
	border-box(10px 50px)
	background skyblue
	z-index: 10
	.container
		flex()
		just-content space-between
		align center
		max-width 1600px
		margin 0 auto
		h1
			color #222
			font title
			font-weight bold
			
.barrier-container 
	.barrier
		height: 70px
		position relative
		.base
			background darken(tomato, 20)
			box-shadow -3px -3px 10px #888
			border-radius 5px 5px 0 0 
			height 55px
			width 30px
		.moving
			animation(open 20s infinite)
			background pink
			border-radius:  3px;
			background: #ccc
			box-shadow: 2px 2px 2px darken(#ccc, 60%);
			height 10px
			width 120px

			position absolute
			top 6px;
			left: 20px;

.camera-container
	.circle
		flex()
		align center
		just-content center
		background: radial-gradient(circle at 50% 120%,  #ddd, white 80%, #000000 100%)
		border-radius: 50%;
		box-shadow 8px 8px 15px #777
		height: 70px;
		width: 70px;
		perspective 1000px
		perspective-origin 50% 50%
		transform-style: preserve-3d;
		.top
			background-image url("top.png")
			background-repeat no-repeat
			background-postion center
			background-size contain 
			height 45px
			width 84px
			z-index: 2
			
			position absolute
			top -12px
			left -7px
		.camera-eye
			animation(camera 10s infinite linear)
			background: linear-gradient(45deg, #222, #444 30%, #444 35%, #222);
			border-radius 50%
			height 42px
			margin 10px 0 0 0
			width 42px
			
			position absolute
			left 14px
			top 14px
			.inner-eye
				flex()
				just-content center
				align center
				background: radial-gradient(circle, #111 30%, rgba(255, 255, 255, 0.7));
				border-radius 50%
				height 42px
				width 42px
				.yacircle
					animation colour 3s infinite linear
					border 3px dotted lighten(skyblue, 10%)
					border-radius 50%
					height 20px
					width 20px

// index.html

section.info
	background white
	box-shadow 0 0 10px #999
	h = 100vh
	min = 112px
	min-height "calc(%s - %s)" % (h min)
	.page-container
		flex()
		direction row
		color #999
		font text
		margin 0 auto
	article
		flex()
		direction column
		align center
		margin 50px
		h3
			color #555
			font-size: 24px
			text-align center
		p
			
			font-size: 16px
			line-height 1.5
			
			// if the text is long it is better to be left-aligned
			text-align center

section.contacts
	background #222
	box-shadow 0 0 10px #999
	min-height 100vh
	.page-container
		flex()
		direction column
		align center
		article
			p
				color white
				margin 40px 10px
				span 
					font-weight 700
	

section.request
	border-box(50px)
	box-shadow 0 0 10px black
	background skyblue
	min-height 100vh
	.page-container
		flex()
		direction column
		align center
		h2
			color white
			font text
			font-size 2rem
		form
			flex()
			just-content center
			wrap()
			max-width: 960px
			fieldset
				border none
				flex()
				direction column
				margin 0
				padding 0
				input, textarea
					border-box(10px 20px)
					border 1px solid transparent
					border-radius 3px
					color #555
					font text
					font-weight bold
					margin: 10px
					outline none
					&:hover, &:focus
						background white
						box-shadow 0 0 10px darken(skyblue, 40)
						border 1px solid darken(skyblue, 30)
			fieldset.description
				height 240px
				margin 0 0 0 20px
				width 450px
				textarea
					resize none
					height 100%
					margin 10px auto
					width 100%
			section
				margin 30px 0 0 0 
				width 100%
				button
					background lighten(skyblue, 15)
					border-box(10px 20px)
					border 1px solid transparent
					border-radius 0
					color #555
					font text
					font-weight bold
					float right
					outline none
					text-transform uppercase
					&:hover, &:focus
							box-shadow 0 0 10px darken(skyblue, 40)
							border 1px solid darken(skyblue, 30)

// add.html

.add
	background #222
	h = 100vh
	min = 112px
	min-height "calc(%s - %s)" % (h min)
	article
		color white

// media


@media (max-width: 1200px)
	main
		.info
			.page-container
				article
					max-width 600px
					margin 30px

@media (max-width: 960px)
	main
		.info
			.page-container
				direction column
				article
					max-width 600px
					margin 30px auto

@media (max-width: 840px)
	main
		.request
			form
				width 100%
				fieldset
					max-width 300px
					input
						width 100%
				fieldset.description
					width 300px

@media (max-width: 660px)
	header
		padding 0
		.container
			h1
				font-size 25px 
				padding 10px 0 0 30px
	main
		.info
			padding 30px
		.request
			padding: 30px
			.page-container
				form
					fieldset
						max-width: 300px
						width 100%
						input
							margin: 10px 0
					fieldset.description
						margin 0
