body {
  background: #222;
}
.camera-container {
  height: 100px;
  width: 100px;
  margin: 30px;
  position: relative;
  perspective: 300px;
}
.camera-container .cube {
  animation: turn 1s alternate 2 linear;
  position: relative;
  width: 75px;
  transform: rotate3d(20deg);
  transform-style: preserve-3d;
  transform: rotateY(-25deg) rotateX(-20deg);
  top: 30%;
}
.camera-container .cube figure {
  color: #fff;
  margin: 0;
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
}
.camera-container .cube .left,
.camera-container .cube .right {
  width: 75px;
  height: 30px;
}
.camera-container .cube .top,
.camera-container .cube .bottom {
  height: 75px;
}
.camera-container .cube .back {
  background: #999;
  height: 30px;
}
.camera-container .cube .right {
  background: linear-gradient(45deg, #fff, #333);
  transform: rotateY(-270deg) translateZ(-75px);
  transform-origin: top right;
}
.camera-container .cube .left {
  background: linear-gradient(-50deg, #fff, #cfebf7, #999);
  transform: rotateY(270deg) translateZ(-50px);
  transform-origin: left;
}
.camera-container .cube .top {
  background: linear-gradient(110deg, #999, #dbf0f9, #fff);
  transform: translateZ(75px) rotateX(-90deg);
  transform-origin: top;
/* &:before
				content " "
				background linear-gradient(90deg, #333, #ccc 60%, #555)
				display block
				height 40px
				width 8px
				
				position absolute
				top: -40px
				left 21px
			*/
}
.camera-container .cube .bottom {
  background: linear-gradient(180deg, #ddd, #777);
  transform: rotateX(-90deg) translateZ(-45px);
  transform-origin: bottom;
}
.camera-container .cube .front {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background: linear-gradient(-70deg, #fff, #c3e7f5, #fff);
  height: 30px;
  transform: translateZ(75px);
}
.camera-container .cube .front .camera-eye {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background: linear-gradient(45deg, #222, #444 30%, #444 35%, #222);
  border: 1px solid #222;
  border-radius: 3px;
  height: 20px;
  width: 30px;
}
.camera-container .cube .front .camera-eye .inner-eye {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  animation: expand 1.5s 1 linear;
  background: radial-gradient(circle, #111, rgba(255,255,255,0.7) 90%);
  border-radius: 50%;
  height: 16px;
  width: 16px;
}
.camera-container .cube .front .camera-eye .inner-eye .yacircle {
  animation: colour 1.5s 1 linear;
  background: transparent;
  border: 1px solid #93d3ed;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 50px;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
header h1 {
  color: #fff;
  font: 30px Oswald;
  font-weight: bold;
}
main {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  background: #87ceeb;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0 0 10px #000;
}
main p {
  color: #fff;
  font: 14px Raleway;
  font-size: 2rem;
}
main form {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 960px;
}
main form fieldset {
  border: none;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  margin: 0;
  padding: 0;
}
main form fieldset input,
main form fieldset textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #555;
  font: 14px Raleway;
  font-weight: bold;
  margin: 10px;
  outline: none;
}
main form fieldset input:hover,
main form fieldset textarea:hover,
main form fieldset input:focus,
main form fieldset textarea:focus {
  background: #fff;
  box-shadow: 0 0 10px #186c8e;
  border: 1px solid #1f8dba;
}
main form fieldset.description {
  height: 190px;
  margin: 0 0 0 20px;
  width: 450px;
}
main form fieldset.description textarea {
  resize: none;
  height: 100%;
  margin: 10px auto;
  width: 100%;
}
main form section {
  margin: 30px 0 0 0;
  width: 100%;
}
main form section button {
  background: #c9e9f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 0;
  color: #555;
  font: 14px Raleway;
  font-weight: bold;
  float: right;
  outline: none;
  text-transform: uppercase;
}
main form section button:hover,
main form section button:focus {
  box-shadow: 0 0 10px #186c8e;
  border: 1px solid #1f8dba;
}
@media (max-width: 827px) {
  main form {
    width: 100%;
  }
  main form fieldset input {
    margin: 10px 0;
  }
  main form fieldset.description {
    width: 300px;
  }
}
@media (max-width: 660px) {
  main form fieldset {
    width: 100%;
  }
  main form fieldset input {
    width: 100%;
  }
  main form fieldset.description {
    margin: 0;
    width: 660px;
  }
}
@-moz-keyframes turn {
  0% {
    transform: rotateY(-25deg) rotateX(-20deg);
  }
  40% {
    transform: rotateY(2deg) rotateX(0);
  }
  100% {
    transform: rotateY(2deg) rotateX(0);
  }
}
@-webkit-keyframes turn {
  0% {
    transform: rotateY(-25deg) rotateX(-20deg);
  }
  40% {
    transform: rotateY(2deg) rotateX(0);
  }
  100% {
    transform: rotateY(2deg) rotateX(0);
  }
}
@-o-keyframes turn {
  0% {
    transform: rotateY(-25deg) rotateX(-20deg);
  }
  40% {
    transform: rotateY(2deg) rotateX(0);
  }
  100% {
    transform: rotateY(2deg) rotateX(0);
  }
}
@keyframes turn {
  0% {
    transform: rotateY(-25deg) rotateX(-20deg);
  }
  40% {
    transform: rotateY(2deg) rotateX(0);
  }
  100% {
    transform: rotateY(2deg) rotateX(0);
  }
}
@-moz-keyframes expand {
  0% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  60% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  62% {
    background: radial-gradient(circle, #fff, rgba(255,255,255,0.5) 80%);
  }
  78% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
}
@-webkit-keyframes expand {
  0% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  60% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  62% {
    background: radial-gradient(circle, #fff, rgba(255,255,255,0.5) 80%);
  }
  78% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
}
@-o-keyframes expand {
  0% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  60% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  62% {
    background: radial-gradient(circle, #fff, rgba(255,255,255,0.5) 80%);
  }
  78% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
}
@keyframes expand {
  0% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  60% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
  62% {
    background: radial-gradient(circle, #fff, rgba(255,255,255,0.5) 80%);
  }
  78% {
    background: radial-gradient(circle, #111, rgba(255,255,255,0.5) 80%);
  }
}
@-moz-keyframes colour {
  0% {
    border: 1px solid #93d3ed;
  }
  70% {
    border: 1px solid #93d3ed;
  }
  72% {
    border: 1px solid #f00;
  }
  75% {
    border: 1px solid #93d3ed;
  }
}
@-webkit-keyframes colour {
  0% {
    border: 1px solid #93d3ed;
  }
  70% {
    border: 1px solid #93d3ed;
  }
  72% {
    border: 1px solid #f00;
  }
  75% {
    border: 1px solid #93d3ed;
  }
}
@-o-keyframes colour {
  0% {
    border: 1px solid #93d3ed;
  }
  70% {
    border: 1px solid #93d3ed;
  }
  72% {
    border: 1px solid #f00;
  }
  75% {
    border: 1px solid #93d3ed;
  }
}
@keyframes colour {
  0% {
    border: 1px solid #93d3ed;
  }
  70% {
    border: 1px solid #93d3ed;
  }
  72% {
    border: 1px solid #f00;
  }
  75% {
    border: 1px solid #93d3ed;
  }
}
