body {
  background: #222;
}
.camera-container .circle {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: radial-gradient(circle at 50% 120%, #bbb, #fff 80%, #000 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px #000;
  height: 70px;
  width: 70px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
}
.camera-container .circle .top {
  background-image: url("top.png");
  background-repeat: no-repeat;
  background-postion: center;
  background-size: contain;
  height: 50px;
  width: 84px;
  z-index: 2;
  position: absolute;
  top: -12px;
  left: -7px;
}
.camera-container .circle .camera-eye {
  animation: camera 10s infinite linear;
  background: linear-gradient(45deg, #222, #444 30%, #444 35%, #222);
  border-radius: 50%;
  height: 42px;
  margin: 10px 0 0 0;
  width: 42px;
  position: absolute;
  left: 14px;
  top: 14px;
}
.camera-container .circle .camera-eye .inner-eye {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  animation: expand 1.5s 1 linear;
  background: radial-gradient(circle, #111 30%, rgba(255,255,255,0.7));
  border-radius: 50%;
  height: 42px;
  width: 42px;
}
.camera-container .circle .camera-eye .inner-eye .yacircle {
  animation: colour 4.5s infinite linear;
  border: 3px dotted #93d3ed;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 50px;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
header h1 {
  color: #fff;
  font: 30px Oswald;
  font-weight: bold;
}
section.contacts {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  background: #87ceeb;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  box-shadow: 0 0 10px #000;
}
section.contacts p {
  color: #fff;
  font: 14px Raleway;
  font-size: 2rem;
}
section.contacts form {
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 960px;
}
section.contacts form fieldset {
  border: none;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  margin: 0;
  padding: 0;
}
section.contacts form fieldset input,
section.contacts form fieldset textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #555;
  font: 14px Raleway;
  font-weight: bold;
  margin: 10px;
  outline: none;
}
section.contacts form fieldset input:hover,
section.contacts form fieldset textarea:hover,
section.contacts form fieldset input:focus,
section.contacts form fieldset textarea:focus {
  background: #fff;
  box-shadow: 0 0 10px #186c8e;
  border: 1px solid #1f8dba;
}
section.contacts form fieldset.description {
  height: 190px;
  margin: 0 0 0 20px;
  width: 450px;
}
section.contacts form fieldset.description textarea {
  resize: none;
  height: 100%;
  margin: 10px auto;
  width: 100%;
}
section.contacts form section {
  margin: 30px 0 0 0;
  width: 100%;
}
section.contacts form section button {
  background: #c9e9f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 0;
  color: #555;
  font: 14px Raleway;
  font-weight: bold;
  float: right;
  outline: none;
  text-transform: uppercase;
}
section.contacts form section button:hover,
section.contacts form section button:focus {
  box-shadow: 0 0 10px #186c8e;
  border: 1px solid #1f8dba;
}
section.info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  -webkit-display: flex;
  -ms-display: flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #ccc;
  font: 14px Raleway;
  margin: 0 auto;
  max-width: 1100px;
}
section.info article {
  margin: 30px;
}
@media (max-width: 827px) {
  main form {
    width: 100%;
  }
  main form fieldset input {
    margin: 10px 0;
  }
  main form fieldset.description {
    width: 300px;
  }
}
@media (max-width: 660px) {
  main form fieldset {
    width: 100%;
  }
  main form fieldset input {
    width: 100%;
  }
  main form fieldset.description {
    margin: 0;
    width: 660px;
  }
}
@-moz-keyframes colour {
  0% {
    border: 3px dotted #93d3ed;
  }
  65% {
    border: 3px dotted #93d3ed;
  }
  68% {
    border: 3px dotted #f00;
  }
  75% {
    border: 3px dotted #93d3ed;
  }
}
@-webkit-keyframes colour {
  0% {
    border: 3px dotted #93d3ed;
  }
  65% {
    border: 3px dotted #93d3ed;
  }
  68% {
    border: 3px dotted #f00;
  }
  75% {
    border: 3px dotted #93d3ed;
  }
}
@-o-keyframes colour {
  0% {
    border: 3px dotted #93d3ed;
  }
  65% {
    border: 3px dotted #93d3ed;
  }
  68% {
    border: 3px dotted #f00;
  }
  75% {
    border: 3px dotted #93d3ed;
  }
}
@keyframes colour {
  0% {
    border: 3px dotted #93d3ed;
  }
  65% {
    border: 3px dotted #93d3ed;
  }
  68% {
    border: 3px dotted #f00;
  }
  75% {
    border: 3px dotted #93d3ed;
  }
}
@-moz-keyframes camera {
  0% {
    transform: none;
  }
  30% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  65% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  90% {
    transform: none;
  }
}
@-webkit-keyframes camera {
  0% {
    transform: none;
  }
  30% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  65% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  90% {
    transform: none;
  }
}
@-o-keyframes camera {
  0% {
    transform: none;
  }
  30% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  65% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  90% {
    transform: none;
  }
}
@keyframes camera {
  0% {
    transform: none;
  }
  30% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  65% {
    transform: translateX(-12px) translateY(5px) skewX(25deg) skewY(-3deg) scale(0.8);
  }
  90% {
    transform: none;
  }
}
@-moz-keyframes cam {
  0% {
    transform: none;
  }
  50% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  75% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  95% {
    transform: none;
  }
}
@-webkit-keyframes cam {
  0% {
    transform: none;
  }
  50% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  75% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  95% {
    transform: none;
  }
}
@-o-keyframes cam {
  0% {
    transform: none;
  }
  50% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  75% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  95% {
    transform: none;
  }
}
@keyframes cam {
  0% {
    transform: none;
  }
  50% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  75% {
    transfrom: translateX(-42px) translateY(-50px) skewX(-25deg) skewY(3deg) scale(0.8);
  }
  95% {
    transform: none;
  }
}
