<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- desription -->
		<meta name="description" content="Description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% load static from staticfiles %}
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'normalize.css' %}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{% static 'style.css' %}" />

		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Raleway:400,700,500' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<header>
			<h1>Ivel logo</h2>
			<div class="camera-container">
				<div class="cube">
					<figure class="front">
						<div class="camera-eye">
							<div class="inner-eye">
								<div class="yacircle"></div>
							</div>
						</div>
					</figure>
					<figure class="back"></figure>
					<figure class="right"></figure>
					<figure class="left"></figure>
					<figure class="top"></figure>
					<figure class="bottom"></figure>
				</div>
			</div>
		</header>
		<main>
			<p>Contact and Description</p>
			<form action="/enquiry/add" method="post">
				{% csrf_token %}
				<fieldset>
					<!-- <label for="name">Name: </label> -->
					<input type="text" id="name" name="name" placeholder="Name" required />
					<!-- <label for="email">Email: </label> -->
					<input type="email" id="email" name="email" placeholder="Email" required />
					<!-- <label for="phone">Phone No: </label> -->
					<input type="text" id="phone" name="phone" placeholder="Phone" required />
					<!-- <label for="location">Location: </label> -->
					<input type="text" id="location" name="location" placeholder="Location" required />
				</fieldset>
					<!-- <label for="description">Description: </label> -->
				<fieldset class="description">
					<textarea type="text" id="description" name="description" size="15" placeholder="Description" required ></textarea>
				</fieldset>
				<section>
					<button type="submit">Send</button>
				</section>
			</form>
		</main>
	</body>
</html>